label{
    display: inline-block;
    float: left;
    clear: left;
    width: 3rem;
    text-align: right;
}

input {
  display: inline-block;
  float: left;
  margin-left: 1rem;
}

select {
  display: inline-block;
  float: left;
  margin-left: 1rem;
}
