<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>
<body>
<h1>Create a Character:</h1>
<a href="/characterList">Back</a>
<br/><br/>
<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addCharacter}"
      th:object="${characterForm}" method="POST">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{Nom}" />
        <label>Job:</label>
        <select th:field="*{Job}">
            <option value="warrior">warrior</option>
            <option value="mage">mage</option>
        </select>
        <label>Hp :</label>
        <input type="range"  name="amountRange" min="1" max="25" value="1" oninput="this.form.amountInput.value=this.value" th:field="*{Hp}" />
        <input type="number" name="amountInput" min="1" max="25" value="1" oninput="this.form.amountRange.value=this.value" style="border: none; margin: auto;" readonly/>
        <input type="submit" value="Create" />
    </div>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;margin-top: -1rem;margin-left: 16rem;">
    ...
</div>

</body>
</html>